<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,400,300,100'
      rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <title>crm</title>
  </head>
  <body>
    <div class="container"></div>
  </body>
  <script src="/bundle.js"></script>
</html>